/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--Background-color);
    color: #222;
    padding: 180px var(--padding-main) 0 var(--padding-main);
}

main {
    padding: 64px var(--padding-card);
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.25);
    max-width: 1000px;
    margin-bottom: 80px;
}

/* Titres */
h1 {
    font-size: 2.5em;
    color: #133543;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #222;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    color: #133543;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--Background-color);
    padding-bottom: 5px;
}

h3 {
    font-size: 1.4em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Paragraphes */
p {
    font-size: 1.1em;
    line-height: 1.7;
    margin-bottom: 20px;
}

/* Liens */
a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Mise en forme spécifique pour certaines parties */
main p {
    margin-bottom: 15px;
}

br {
    margin-bottom: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    p {
        font-size: 1em;
    }
}
